/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	/*max-width: 1140px;
	margin:auto;*/
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 200px;
}

main section {
	max-width: 1140px;
	margin:auto;
	padding-bottom: 50px;
}

section {
	margin: 50px 0
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.fa-trash-can {
	position: relative;
	bottom: 103px;
	right: 25px;
	margin-right: -10px;
	color: white;
	background-color: black;
	height: 9px;
	width: 9px;
	padding: 5px;
	border-radius: 2px;
	font-size: 10px;
}

.modale {
	display: none;
	justify-content: center;
	z-index: 5;
	background-color: white;
	height: 688px;
	width: 630px;
	position: relative;
	left: 450px;
	top: 380px;
	margin-bottom: -688px;
	border-radius: 10px;
}

.modale h2 {
	position: relative;
	left: 140px;
	top: 40px;
	font-size: 26px;
	font-weight: 400;
	color: black;
	font-family: 'Work Sans';
}

.fa-xmark {
	cursor: pointer;
	position: relative;
	top: 20px;
	left: 484px;
	font-size: 18px;
}

.fa-arrow-left {
	cursor: pointer;
	position: relative;
	top: 22px;
	right: 95px;
	font-size: 18px;
}

.galery__modale {
	position: relative;
	top: 75px;
	left: 5px;
	border-bottom: 1px solid #b3b3b3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding-bottom: 50px;
}

.galery__modale img {
	width: 76.61px;
	height: 102.06px;
	padding-bottom: 20px;
}

.galery__modale img .fa-trash-can {
	display: flex;
	justify-content: left;
	align-items: start;
}

.button__pictures {
	cursor: pointer;
	position: relative;
	top: 130px;
	left: 90px;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 53px;
	padding-right: 53px;
	font-weight: 700;
	font-size: 14px;
	width: 237px;
	font-family: "Syne";
}

.modale__adding {
	display: none;
	justify-content: center;
	z-index: 10;
	background-color: white;
	height: 688px;
	width: 630px;
	position: relative;
	left: 450px;
	top: 380px;
	margin-bottom: -688px;
	border-radius: 10px;
}

.modale__adding .fa-xmark {
	cursor: pointer;
	position: relative;
	top: 20px;
	left: 480px;
	font-size: 18px;
}

.modale__adding h2 {
	position: relative;
	left: 130px;
	top: 40px;
	font-size: 26px;
	font-weight: 400;
	color: black;
	font-family: 'Work Sans';
}

.button__validate {
	cursor: pointer;
	position: relative;
	top: 410px;
	left: 85px;
	border-radius: 60px;
	background-color: #a7a7a7;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 94px;
	padding-right: 94px;
	font-weight: 700;
	font-size: 14px;
	width: 237px;
	font-family: "Syne";
}

.picture__adding {
	position: relative;
	top: 75px;
	margin-bottom: -190px;
	width: 420px;
	height: 169px;
	background-color: #e8f1f6;
	border-radius: 10px;
}

.error-message {
	position: relative;
	top: 380px;
	left: 25px;
}

.picture__adding img {
	position: relative;
	left: 140px;
	height: 169px;
	width: 129px;
	z-index: 16;
}

.picture__adding p {
	font-size: 10px;
	font-weight: 400;
	position: relative;
	top: 55px;
	left: 160px;
}

.picture__adding input {
	visibility: hidden;
}

.picture__adding label {
	position: relative;
	top: 60px;
	left: 50px;
	background-color: #cbd6dc;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	padding-right: 18px;
	border-radius: 50px;
}

.fa-image {
	position: relative;
	top: 20px;
	left: 175px;
	font-size: 68px;
	color: #b9c5cc;
}

.categorie--groupe {
	position: relative;
	top: 300px;
	/*left: 50px;*/
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-weight: 500;
}

.categorie--groupe select {
	margin-top: 10px;
	height: 51px;
	width: 420px;
	/*font-size: 1.2em;*/
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: white;
	appearance: none;
	padding-left: 20px;
}

.fa-chevron-down {
	position: relative;
	left: 380px;
	bottom: 32px;
	font-size: 12px;
	color: #a7a7a7;
	margin-bottom: -12px;
}

.titre--groupe {
	position: relative;
	top: 300px;
	margin-top: -20px;
	/*left: 50px;*/
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-weight: 500;
}

.titre--groupe input {
	margin-top: 10px;
	height: 49px;
	width: 416px;
	/*font-size: 1.2em;*/
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.border__decorative {
	position: relative;
	top: 360px;
	border: 1px solid #b3b3b3;
	border-top: none;
	border-right: none;
	border-left: none;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav a {
	text-decoration: none;
	color: black;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 20px;
	font-size: 1.2em;
}

nav img {
    position: relative;
    top: 2.5px;
    width: 19.35px;
    height: 19.35px;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.edit__on {
	margin-top: 30px;
}

/*.center__edit {
	display: flex;
	justify-content: center;
}*/

.edit--mode {
	/*display: none;*/
	position: relative;
	bottom: 162px;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: -50px;
}

.edit--mode p {
	position: relative;
	left: 750px;
	bottom: 7px;
	width: 100px;
}

.edit--mode .fa-pen-to-square {
	position: relative;
	left: 720px;
	top: 5px;
}

.logout {
	/*display: none;*/
	cursor: pointer;
}

.edit {
	/*display: none;*/
	position: relative;
	left: 700px;
	bottom: 50px;
	width: 150px;
	/*margin-bottom: -50px;*/
}

.edit p {
	margin-left: 10px;
	font-weight: 400;
	font-size: 14px;
	position: relative;
	left: 15px;
	bottom: 15px;
	width: 100px;
}

.edit .fa-pen-to-square {
	font-size: 16px;
	position: relative;
	bottom: 3px;
}

.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	color: #1D6154;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 25px;
}

.filter__border {
	display: flex;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
}

.filter__border:hover {
	cursor: pointer;
}

.border__one {
	width: 100px;
	font-size: 16px;
}

.border__two {
	width: 100px;
	font-size: 16px;
}

.border__three {
	width: 157px;
	font-size: 16px;
}

.border__four {
	width: 198px;
	font-size: 16px;
	padding: 5px;
}

.toHide {
	display: none;
}

.toHide:checked + label .filter__border {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    /*position: relative;
    right: 190px;*/
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

